.bg{
    background-size: 1400px;
    margin-top:400px;
} 

.login{
    background-color:powderblue;
    margin-left: 70px;
    padding: 7px;
   margin-top: 400px;
   margin-right: 900px;
   
    
}

a{
  text-decoration: none;
  color: black;
}

  
