.bg{
    height: 800px;
    width: 800px;
    background-size: 1400px;
    margin-top:400px ;
}

.login{
    background-color:powderblue;
    margin-left: 70px;
    padding: 7px;
   margin-top: 400px;
   margin-right: 400px;
   
    
}
